.iridescence-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.35;
    pointer-events: none;
    mix-blend-mode: screen;
}

.iridescence-container canvas {
    width: 100%;
    height: 100%;
    display: block;
}